.divhover:hover{
  background:#fafafafb;
  border:solid 1px #fcfcfcfa;
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
}

.btnhover:hover{
  background-color:#eceaeafb !important;
  cursor: pointer;
}

.news_marquee {
  animation : slide 7s linear infinite ;
  color:white;
}

@keyframes slide {
  0% {
  transform: translatex(100%)
  }

  100% {
  transform: translatex(0%)
  }
}

.paddint-top-130{
  padding-top: 130px;
}

.paddint-top-40{
  padding-top: 40px;
}

.over2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
